.cardZone{
  background-color: #00bb0055 ;
  border-style: solid;
  border-width: medium;
  border-color: darkgreen;
  height: 85px;  /* tbis is the size of the card zone, make it smaller than grid*/
  width: 80px;
  margin:auto;  /*This centers the cardZOne*/
  margin-top: 2px;

  /*margin: 2px 25px 2px 25px; /* top right bottom left*/

}

.grids{
  /* background-color: red; */
  border-color: black;
  border-style: solid;
  border-width: medium;
  height: 95px;  /*this is the size of the grid*/
  margin: 5px 0px 5px 0px ;
}

.myRow{
  border-color: red;
  border-style: solid;
  border-width: thin;
}
