.cardZone{
  background-color: #00bb0099 ;
  border-style: solid;
  border-width: medium;
  border-color: darkgreen;
  height: 85px;  /* tbis is the size of the card zone, make it smaller than grid*/
  width: 80px;
  margin:auto;  /*This centers the cardZOne*/
  margin-top: 2px;

  /*margin: 2px 25px 2px 25px; /* top right bottom left*/

}
.middleCardZone{
  background-color: #ffd70099 ;
  border-style: solid;
  border-width: medium;
  border-color: darkgreen;
  height: 60px;  /* tbis is the size of the card zone, make it smaller than grid*/
  width: 80px;
  margin:auto;  /*This centers the cardZOne*/
  margin-top: 2px;
  /*margin: 2px 25px 2px 25px; /* top right bottom left*/
}
.opponentHandZone{
  background-color: #0000bb99 ;
  border-style: solid;
  border-width: medium;
  border-color: darkgreen;
  height: 85px;  /* tbis is the size of the card zone, make it smaller than grid*/
  width: 80px;
  margin:auto;  /*This centers the cardZOne*/
  margin-top: 2px;
  /*margin: 2px 25px 2px 25px; /* top right bottom left*/
}

.myHandZone{
  background-color: #0000bb99 ;
  border-style: solid;
  border-width: medium;
  border-color: darkgreen;
  height: 85px;  /* tbis is the size of the card zone, make it smaller than grid*/
  width: 80px;
  margin:auto;  /*This centers the cardZOne*/
  margin-top: 2px;
  /*margin: 2px 25px 2px 25px; /* top right bottom left*/
}

.opponentMonsterZone{
  background-color: #c0c0c0 ;
  border-style: solid;
  border-width: medium;
  border-color: darkgreen;
  height: 85px;  /* tbis is the size of the card zone, make it smaller than grid*/
  width: 80px;
  margin:auto;  /*This centers the cardZOne*/
  margin-top: 2px;
  /*margin: 2px 25px 2px 25px; /* top right bottom left*/
}

.myMonsterZone{
  background-color: #c0c0c0 ;
  border-style: solid;
  border-width: medium;
  border-color: darkgreen;
  height: 85px;  /* tbis is the size of the card zone, make it smaller than grid*/
  width: 80px;
  margin:auto;  /*This centers the cardZOne*/
  margin-top: 2px;
  /*margin: 2px 25px 2px 25px; /* top right bottom left*/
}

.opponentTrapZone{
  background-color: #aa000055 ;
  border-style: solid;
  border-width: medium;
  border-color: darkgreen;
  height: 85px;  /* tbis is the size of the card zone, make it smaller than grid*/
  width: 80px;
  margin:auto;  /*This centers the cardZOne*/
  margin-top: 2px;
  /*margin: 2px 25px 2px 25px; /* top right bottom left*/
}

.myTrapZone{
  background-color: #aa000055 ;
  border-style: solid;
  border-width: medium;
  border-color: darkgreen;
  height: 85px;  /* tbis is the size of the card zone, make it smaller than grid*/
  width: 80px;
  margin:auto;  /*This centers the cardZOne*/
  margin-top: 2px;
  /*margin: 2px 25px 2px 25px; /* top right bottom left*/
}

/* for the main background */
.hero-image{
  background-image: url("/img/wallpaper2.jpeg");
  background-color: #cccccc;
  height: 200px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.kaibaProfileBackground{
  background-image: url("/img/kaiba-profile.jpeg");
  background-color: #cccccc;
  height: 200px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.yugiProfileBackground{
background-image: url("/img/yugi-profile3.jpeg");
background-color: #aacccc;
height: 200px;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}

.grids{
  /* background-color: red; */
  border-color: black;
  border-style: solid;
  border-width: medium;
  height: 95px;  /*this is the size of the grid*/
  margin: 5px 0px 5px 0px ;
}

.middleGrids{
  /* background-color: red; */
  border-color: black;
  border-style: solid;
  border-width: medium;
  height: 70px;  /*this is the size of the grid*/
  margin: 5px 0px 5px 0px ;
}

.myRow{
  border-color: red;
  border-style: solid;
  border-width: thin;
}

.footer{
  /* margin-bottom: 0px; */
  text-align: center;
}

.bitwise{
  color: gold;
  
}


/* testing modal */
/* The Modal (background) */
.modal {
   display: none; /* Hidden by default */
   position: fixed; /* Stay in place */
   z-index: 1; /* Sit on top */
   left: 0;
   top: 0;
   width: 100%; /* Full width */
   height: 100%; /* Full height */
   overflow: auto; /* Enable scroll if needed */
   background-color: rgb(0,0,0); /* Fallback color */
   background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
   background-color: #fefefe;
   margin: 15% auto; /* 15% from the top and centered */
   padding: 20px;
   border: 1px solid #888;
   width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
   color: #aaa;
   float: right;
   font-size: 28px;
   font-weight: bold;
}

.close:hover,
.close:focus {
   color: black;
   text-decoration: none;
   cursor: pointer;
}
